@use "../abstract/colors" as *;

:root {
    color-scheme: var(--color-scheme);
    accent-color: $color-accent;

    --color-scheme: dark;

    @each $color, $value in $dark-theme {
        --color-#{$color}: #{$value};
    }

    &[data-theme="light"] {
        --color-scheme: light;

        @each $color, $value in $light-theme {
            --color-#{$color}: #{$value};
        }
    }
}
