@use "colors" as *;

%input {
    padding-inline: 0.6rem;
    padding-block: 0.35rem;
    color: $color-text;
    background-color: $color-background-2;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}
